*{padding:0; margin: 0 }
body{
    background-color: #B2FF59;
}

.navbar{
    background-color: #CCFF90;
    border: none
    
}
.profile-container{
    background-color: #B3E5FC;
    height: 600px;
    border-radius: 50px;
    
}
.heading-text{
    
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5cm; 
    
    
}
.profile-img-container{
    width: 104%;
    height:150px ;
}
.profile-img{
    margin-left:32%;
    padding: 5px;
    width: 140px;
    height: 140px;
}
.profileInfo{
    margin-top: 20px; 
}
.trueName, .trueLastName{
    margin-left: 2cm;
}
.trueAge{
   margin-left:  3.4cm
}
.trueNumber, .trueEmail {
    margin-left: 1.5cm;
}

.line{
    max-width: 400px;
}
.match-recap{
    height:600px ;
    background-color: #FFF9C4;
    border-radius: 50px;


}
h2{
    text-align: center;
    color: rgb(78, 54, 3) ;
}
.current-matches{
    overflow-y: scroll;
    height: 200px;
    background-color: rgb(189, 152, 50);
    width: 100%;
    margin-top: 1cm;
}
.play-match{
    float:right;
    margin-top: 1cm;
    width: 100px;

}
.status{
    float:right;
    margin-right: 70px;
    margin-top: 2.5cm;
}

.trueTeam{
    margin-left: 3.1cm;
}
.trueLeader{
    margin-left: 3cm;
    color :#000f9b;
}

